record(ao, "$(NAME)") {
  field(DESC, "$(DESC)")
  field(DTYP, "EtherIP")
  field(OUT, "@$(PLC) $(ADDR) S 1")
  field(PREC, "$(PREC)")
  field(EGU, "$(EGU)")
  field(DRVH, "$(DRVH)")
  field(DRVL, "$(DRVL)")
  field(HOPR, "$(DRVH)")
  field(LOPR, "$(DRVL)")
  info(autosaveFields, "VAL")
}
